.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container .me{
    width: 50%;
    height: 50%;
    justify-content: right;
    align-items: center;
    text-align: right;
    display: block;
    gap: 10px;
    /* flex-direction: column; */
}

.me h2{
    color: #fff;
    font-size: 40px;
    top: 0;
    margin-top: 90px;
}

.me p{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    right: 0;
}

.me span{
    color: #007;
}

.me .links{
    width: 100%;
    padding: 15px;
    margin-right: 20px;
    background: transparent;
    justify-content:space-between;
    align-items: center;
    display: flex;
}

.links .btns{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    position: relative;
    display: flex;
    margin-left: 130px;
}

.btns button{
    flex: 1;
    border-radius: 50px;
    border: none;
    background: #fff;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}

.btns button:hover{
    border: #fff solid 2px;
    background: transparent;
    color: #fff;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
}

.me .links ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.me .links ul li{
    display: flex;
}

.me .links ul li a{
    text-decoration: none;
    border-radius: 50%;
}

.me .links ul li a img{
    width: 30px;
    height: 30px;
    
}

.me .links ul li a img:hover{
    border: none;
    border-radius: 50px;
    transition: all 0.9s ease-in-out;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

.container .img{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    float: right;
    display: flex;
}

.img img{
    width: 515px;
    height: 515px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0) rotate(0deg);
        filter: drop-shadow(0 5px 10px rgba(255,255,255,0.3));
    }
    50%{
        transform: translateY(-20px) rotate(2deg);
        filter: drop-shadow(0 15px 20px rgba(255,255,255,0.1));
    }
}

@media(max-width: 720px) {
    .container{
        display: block;
        /* flex-direction: column; */
    }

    .container .me{
        position: absolute;
        bottom: 0;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .container .img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 330px;
        margin-right: 210px;
    }

    .img img{
        width: 400px;
        height: 400Px;
    }

    .container .me .links{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        gap: 40px;
    }

    .container .me .links .btns{
        width: 120px;
        display: flex;
        padding: 5px;
        margin: 10px;
        margin-left: 20px;
        position: relative;
    }

    .container .me .links ul {
        margin-right: 40px;
    }
}