form{
    display: flex;
    width: 100%;
    align-items: center;
    
}

form .img2{
    width: 35%;
    height: 400px;
    /* border: 1px solid #fff; */
    margin: 10px;
    border-radius: 50%;
    margin: 10px;
    animation: float 3s ease-in-out infinite;
}

form .img2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

form .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 120px;
    padding: 100px;
    gap: 10px;
}

.inputs input, textarea, .subit{
    width: 600px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 190px;
    padding: 15px;
}

.inputs input{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.inputs  textarea{
    padding: 20px;
    resize: none;
    /* border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; */
}

.inputs .none{
    border-radius: 0px;
}

.inputs .subit{
    background: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: .9s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 20px;
}

.inputs .subit:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}


@media(max-width: 720px) {
    form {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form .img2{
        display: none;
    }

    form .inputs{
        width: 60%;
        top: 0;
        padding: 20px;
    }

    .inputs input, textarea, .subit{
        width: 350px;
        margin-left: 75px;
        padding-left: 20px;
    }

    footer{
        display: none;
    }
}