footer{
    width: 100%;
    padding: 20px;
    /* position: fixed; */
    background: transparent;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}

footer p{
    display: flex;
    font-size: 20px;
}