*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #007fcc;
    overflow-x: hidden;
    /* overflow: hidden; */
}

.navbar{
    display: flex;
    width: 100%;
    padding: 35px;
    background: transparent;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 9, 0, 0.9);
    justify-content: space-between;
    /* z-index: 100; */
}

.navbar .menu{
    display: none;
}

.navbar .menu span{
    width: 45px;
    height: 4px;
    background: #fff;
}

.navbar .logo{
    /* display: flex; */
    animation: float 3s ease-in-out infinite;
    font-size: 40px;
    color: #007fcc;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.logo span{
    padding: 15Px;
    background: #fff;
    color: #007fcc;
    border-radius: 15px;
}

.navbar .srch{
    display: flex;
    width: 340px;
    background: transparent;
    border-radius: 50px;
    border: none;
    /* width: 120px; */
}

.srch input{
    flex: 1;
    border-radius: 50px;
    border: none;
    outline: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    padding-left: 15px;

    
}


::placeholder{
    color: #fff;
    font-style: italic;
}
.srch input:focus{
    border: 2px solid #fff;
}

.navbar .btn{
    display: flex;
    width: 140px;
    background: transparent;
    height: 40px;
    border-radius: 50px;
}

.btn .info{
    flex: 1;
    border: none;
    outline: none;
    background:#fff ;
    color: #007fcc;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.info:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    transition: all ease-in-out;
}

@media(max-width: 720px){
    .navbar .menu{
        display: flex;
        gap: 7px;
        margin: 10px;
        margin-left: 0;
        left: 0;
        cursor: pointer;
        flex-direction: column;
    }
    .navbar .logo{
        display: none;
    }

    .navbar .srch{
        display: none;
    }

    .navbar .btn .info{
        width: 100px;
    }

    .navbar .btn .info {
        flex: 1;
    }

}